*.FBX
*.zip
*.jpg
output/
outputs/
colmap_sparse/
colmap_text/
*.db
colmap.db
colmap_sparse
colmap_text
config.json
config.json
textures
*.png
20240320101316_Instruction
20240326134753_Instruction
uploads
*.json
*.wav
*.pth
*.obj
